aiohappyeyeballs==2.7.1
aiohttp==3.14.2
aiosignal==1.4.0
altair==6.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
attrs==26.1.0
blinker==1.9.0
cachetools==7.1.4
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
distro==1.9.0
faiss-cpu==1.14.3
filelock==3.31.1
frozenlist==1.8.0
fsspec==2026.6.0
gitdb==4.0.12
GitPython==3.1.53
greenlet==3.5.3
h11==0.16.0
hf-xet==1.5.2
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.24.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.16.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
langchain==1.3.14
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-core==1.4.9
langchain-huggingface==1.2.2
langchain-ollama==1.1.0
langchain-openai==1.3.5
langchain-protocol==0.0.18
langchain-text-splitters==1.1.2
langgraph==1.2.9
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langsmith==0.10.9
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.1
narwhals==2.24.0
networkx==3.4.2
numpy==2.2.2
ollama==0.6.2
openai==2.46.0
orjson==3.11.9
ormsgpack==1.12.2
packaging==26.2
pandas==2.3.3
pillow==12.3.0
propcache==0.5.2
protobuf==7.35.1
pyarrow==24.0.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pydeck==0.9.3
Pygments==2.20.0
pypdf==6.14.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.32
PyYAML==6.0.3
referencing==0.37.0
regex==2026.7.19
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
rpds-py==0.30.0
safetensors==0.8.0
scikit-learn==1.7.2
scipy==1.15.3
sentence-transformers==5.6.0
setuptools==83.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
SQLAlchemy==2.0.51
starlette==1.3.1
streamlit==1.59.2
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
tiktoken==0.13.0
tokenizers==0.22.2
toml==0.10.2
torch==2.13.0
tqdm==4.69.0
transformers==5.14.1
typer==0.27.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uuid_utils==0.17.0
uvicorn==0.51.0
watchdog==6.0.0
websockets==15.0.1
xxhash==3.8.1
yarl==1.24.5
zstandard==0.25.0
